.footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footerContent {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
 
  .footerContent p {
    margin: 0;
    font-size: 16px;
  }
  
  .githubLink {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .githubLink:hover {
    text-decoration: underline;
  }
  