.inputTaskContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .inputGroup {
    width: 40%; 
  }
  
.inputField {
  margin-right: 30px; 
  border: 1px solid red;
}
